<div class="col-md-3">
	<ul class="list-group" ng-init="loadAll()">
		<li class="list-group-item">
			<button class="btn btn-primary btn-xs" ng-click="new()">Novo</button>
		</li>
		<li class="list-group-item" ng-repeat="car in cars">
			<a ng-click="loadItem(car.plate)">{{car.plate}} - {{car.model}}</a>
		</li>
	<ul>
</div>
<div class="col-md-9">
	<div ng-show="car != null">
		<h3>{{car.model}}</h3>
		<hr/>
		<form ng-submit="save()" class="form-horizontal" >
			<div class="form-group">
				<label for="model">Model</label>
				<input id="model" name="model" type="text" ng-model="car.model" class="form-control">
			</div>
			<div class="form-group">
				<label for="manufacturer">Manufacturer</label>
				<input id="manufacturer" name="manufacturer" type="text" ng-model="car.manufacturer" class="form-control">
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<input id="price" name="price" type="text" ng-model="car.price" class="form-control">
			</div>
			<div class="form-group">
				<label for="plate">Plate</label>
				<input id="plate" name="plate" type="text" ng-model="car.plate" class="form-control">
			</div>
			<div class="form-group">
				<label for="owner-name">Owner Name</label>
				<input id="owner-name" name="owner-name" type="text" ng-model="car.owner_name" class="form-control">
			</div>
			<div class="form-group">
				<label for="owner-email">Owner Email</label>
				<input id="owner-email" name="owner-email" type="email" ng-model="car.owner_email" class="form-control">
			</div>
		</form>
	</div>
</div>
